<!DOCTYPE html>
<html>
    <head>
        <title>Lab 5</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Welcome to my webpage!!</h1>
        <p>I hope the color is easy to read! </p>
        <nav>
            <ul>
                <a href="Potatis.html"> Go to Potatis</a>
                <a href="Translate.html"> Gå till översätt</a>
                <a href="Meaningful.html"> Go to Meaningful</a>
            </ul>
        </nav>
    </body>
</html>
