<!DOCTYPE html>
<html>
    <head>
        <title>Potatis</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>You made it to Potatis! Enjoy some info!!</h1>
        <p>Hej och välkommen till Potatis sidan </p>
        <p>Denna sidan skulle vara skriven på engelska men det är tråkigt</p>
        <p>Uppskatta istället denna bild av en potatis!!</p>
        <img src="https://www.google.com/search?sca_esv=d909a4843931226e&rlz=1C5CHFA_enSE1068US1073&sxsrf=ADLYWIJ914HUcEKZsNQ09vDss6t4llbSrQ:1729007401186&q=Potatis&udm=2&fbs=AEQNm0A6bwEop21ehxKWq5cj-cHabtDF9k5_O8FotNkF4z1i4UgnlLFA8g0Iz4rZT_bAkV2tMQ9jOHZL7qi0f0S2wgGpsdj1oaKrPEFghcQvEYKvd7ZOquUjIMDjjfEbhdLhBTTg-CGEjNqPH5sbJV2WIjPMjzCYmO-rrBzO4EC0hJ2pVEm-H9mIZkttDxJBSp79b3Zvk4F3dhvoA76mFrKdNwd6CaK7XA&sa=X&ved=2ahUKEwinrti_3pCJAxXHD1kFHcqVH4cQtKgLegQIExAB&biw=1440&bih=813&dpr=2#vhid=m8xWReCdZWdJcM&vssid=mosaic">
    </body>
</html>