<!DOCTYPE html>
<html>
    <head>
        <title>translate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Use this page to get to google translate!</h1>
        <p>Sorry about making this web page in Swedish </p>
        <p>you can use this link to translate the webpage by yourself though!!</p>
        <a href="https://www.google.com/search?q=translate&rlz=1C5CHFA_enSE1068US1073&oq=translate&gs_lcrp=EgZjaHJvbWUyDggAEEUYJxg5GIAEGIoFMgcIARAAGIAEMgcIAhAAGIAEMgcIAxAAGIAEMgcIBBAAGIAEMgcIBRAAGIAEMgcIBhAAGIAEMgcIBxAAGIAEMgcICBAAGIAEMgcICRAAGIAE0gEIMjMwMGowajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">Översätt här!</a>
    </body>
</html>