<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Sign Up</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <div>
            <form class="user-content" action="/">
                <div class="container">
                <label for="frstnm"> <b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" name="frstnm" required>
    
                <label for="lstnm"> <b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" name="lstnm" required>
    
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
    
                <label for="phnr"><b>Phone Number</b></label>
                <input type="integer" placeholder="Enter Phone Number" name="phnr" required>
    
                <label for="pswrd"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="pswrd" required>
    
                <div class="clearfix">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
            <!-- Create a sign up form here -->
        </div>

        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>
